.cbp-rfgrid {
  margin: 35px 0 0 0;
  padding: 0;
  position: relative;
  width: 3000px;
  ul {
    list-style: none;
    width: 100%;

    li {
      position: relative;
      float: left;
      a {
        display: block;
        width: 320px;
        height: 1000px;
        cursor: pointer;
        background-size: cover;
      }
    }
  }
}

